@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  --color-primary: #d8a47f;
  --color-secondary: #8d99ae;
  --color-tertiary: #9a031e;
  --color-light: #f3f3f3;
  --color-dark: #0a1128;
  --font-primary: "Martel";
  --font-secondary: "Karla";
  --font-title: "Great Vibes";
  --font-hero: "Arsenica";
}

#root {
  min-height: 100dvh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: var(--color-dark);
  font-family: var(--font-primary);
}
